language: python
python:
  - "3.8"
install:
  - wget -O conda_install.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash conda_install.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/etc/profile.d/conda.sh:$PATH"
  - conda env create -f environment.yml
  - conda activate formal-language-env

script:
  - src/pyformlangTest.py
  - src/pygraphblasTest.py