arch: amd64
os: linux
dist: focal

language: python
python:
  - "3.8"
install:
  - wget -O conda_install.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash conda_install.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - conda env create -f environment.yml
  - conda activate formal-language-env
  - pip install -e git://github.com/michelp/pygraphblas.git@3.3.3#egg=pygraphblas

jobs:
  include:
    - stage: test
      script:
      #- python -m unittest -v src.tests.pyformlang_test
      #- python -m unittest -v src.tests.pygraphblas_test
      - python -m unittest -v src.tests.graph_test
      - python -m unittest -v src.tests.paths_query_executor_test
      - python main.py --graph /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/graph.txt --query /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/regex_abc.txt --fr /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/vertices_0.txt --to /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/vertices_2.txt
      - python main.py --graph /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/graph.txt --query /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/regex_abc.txt --fr /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/vertices_2.txt --to /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/vertices_2.txt
      - python main.py --graph /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/graph.txt --query /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/regex_abc.txt --to /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/vertices_2.txt
      - python main.py --graph /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/graph.txt --query /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/regex_abc.txt --fr /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/vertices_0.txt
      - python main.py --graph /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/graph.txt --query /home/travis/build/Rimalon/formal-language-tasks/src/tests/resources/regex_abc.txt