language: python
python:
  - "3.8"
install:
  - wget -O conda_install.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash conda_install.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - conda env create -f environment.yml
  - conda activate formal-language-env

jobs:
  include:
    - stage: test
      script:
      - python ./src/tests/pyformlangTest.py
      - python ./src/tests/pygraphblasTest.py
      - python -m unittest -v src.tests.graphTest